.AddRecipe {
    font-family: 'https://fonts.googleapis.com/css?family=Actor';
    font-size: 15px;
}

.add-imagevid {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.addimg {
    padding-bottom: 15px;
    padding-top: 18px;
}

.addbody-container-recipe {
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    vertical-align: top;
    width: 400px;
    padding-bottom: 50px;
}

.Add-image-input {
    font-family: 'https://fonts.googleapis.com/css?family=Actor';
    box-sizing: border-box;
    height: 30px;
    width: 220px;
    position: relative;
    border: 1px solid #E6E6E6;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #282828;
    border-radius: 8px;
}

.Add-yt-input {
    font-family: 'https://fonts.googleapis.com/css?family=Actor';
    box-sizing: border-box;
    height: 30px;
    width: 208px;
    position: relative;
    border: 1px solid #E6E6E6;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #282828;
    border-radius: 8px;
}

.Error {
    text-align: left;
    color: #ffa700;
}

.AddRecipe-title {
    font-size: 25px;
    padding-bottom: 15px;
}

.AddRecipe-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
}

.AddRecipe Button {
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #ffa700;
    border: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'https://fonts.googleapis.com/css?family=Actor';
    cursor: pointer;
    height: 39px;
    margin: 4px;
}

.AddRecipe Input, .AddRecipe #User-input {
    font-family: 'https://fonts.googleapis.com/css?family=Actor';
    box-sizing: border-box;
    height: 39px;
    width: 426px;
    position: relative;
    border: 1px solid #E6E6E6;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    color: #282828;
    padding-left: 20px;
    border-radius: 8px;
}

.AddRecipe .itemMap {
    margin-bottom: 20px;
}