.nav {
    display: flex;
    top: 0;
    width: 100%;
    overflow: auto;
    height: auto;
    padding-left: 20px;
    font-family: 'https://fonts.googleapis.com/css?family=Actor';
}

.links {
    display: inline-block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.links:hover {
    border-bottom: 2px solid black;
}
